<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}

    <title>Наша команда</title>
</head>

<body>
<script>
    const $drowdownArrow = document.querySelector('.fa-angle-down');
    const $checkbox = document.getElementById('openDropdown');
    const $dropdownMenu = document.querySelector('.dropdown-menu');

    $checkbox.addEventListener('change', () => {
        $drowdownArrow.classList.toggle('rotate-dropdown-arrow');
    });

    $dropdownMenu.addEventListener('click', (e) => {
        $checkbox.checked = false;
        // setting checked to false won't trigger 'change'
        // event, manually dispatch an event to rotate
        // dropdown arrow icon
        $checkbox.dispatchEvent(new Event('change'));
    });
</script>

<header class="header">
    <div class="container">
        <div class="header-nav">
            <a href="/" class="logo"><img src="/assets/img/logo.png" alt="" class="logo-img"></a>

            <nav id="nav" class="nav">
                <ul class="nav-list">


                    {% if is_granted('ROLE_USER') %}

                        <div class="dropdown-container">
                            <label for="openDropdown" class="dropdown">
                                {{ app.user.username }}
                            </label>

                            <input type="checkbox" id="openDropdown" hidden>

                            <div class="dropdown-menu">
                                <span>bla bla</span>
                                <span>bla bla</span>
                                {% if is_granted('ROLE_ADMIN') %}<span>
                                    <a class="dropdown-item" href="{{ path('admin') }}">Admin panel</a>
                                    </span>{% endif %}
                                <span><a class=""
                                         href="{{ path('logout') }}">Выйти</a></span>
                            </div>
                        </div>
                    {% else %}
                        <li class="nav-item"><a href="{{ path('login') }}" class="nav-link">
                                <button>Войти</button>
                            </a></li>
                    {% endif %}


                    <li class="nav-item"><a href="{{ path('servises') }}" class="nav-link">Услуги и цены</a></li>
                    <li class="nav-item"><a href="{{ path('team') }}" class="nav-link">Наша команда</a></li>
                    <li class="nav-item"><a href="{{ path('appointment') }}" class="nav-link">Запись на прием</a></li>
                </ul>
                <button id="nav-btn" class="nav-button" onclick="nav_open()">
                    <img id="nav-btn-img" src="/assets/img/icons/nav-open.svg" alt="Nav button">
                </button>
                <script>
                    const nav = document.querySelector('#nav');
                    const navBtn = document.querySelector('#nav-btn');
                    const navBtnImg = document.querySelector('#nav-btn-img');

                    function nav_open() {
                        if (nav.classList.toggle('open')) {
                            navBtnImg.src = "/assets/img/icons/nav-close.svg";
                            navBtn.style.position = "fixed";
                        } else {
                            navBtnImg.src = '/assets/img/icons/nav-open.svg';
                            navBtn.style.position = "absolute";
                        }
                    }

                </script>
            </nav>
        </div>
    </div>
</header>

<div class="content">
    {% block servList %}

    {% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Пациентам</h4>
                <ul>
                    <li><a href="index.html"> Главная</a></li>
                    <li><a href="about.html"> О нас</a></li>
                    <li><a href="servises.html"> Услуги и цены</a></li>
                    <li><a href="team.html"> Наша команда</a></li>
                    <li><a href="contacts.html"> Компенсации</a></li>
                    <li><a href="compensations.html"> Документы</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Часы работы</h4>
                <div class="col-row">
                    <div class="textcols-item-week">
                        Понедельник<br>
                        Вторник <br>
                        Среда <br>
                        Четверг <br>
                        Пятница <br>
                        Суббота <br>
                        Воскресенье<br>
                    </div>
                    <div class="textcols-item-time">
                        09:00-20:00<br>
                        09:00-20:00<br>
                        09:00-20:00<br>
                        09:00-20:00<br>
                        09:00-20:00<br>
                        09:00-16:00<br>
                        Выходной
                    </div>
                </div>
            </div>
            <div class="footer-col">
                <h4>Контакты</h4>
                <div class="col-row">
                    <div class="textcols-item">
                        Телефон<br>
                        Факс<br>
                        Адрес<br>
                    </div>
                    <div class="textcols-item">
                        <a href="tel:+79806403317" class="phone-num">+7-980-640-33-17<br></a>
                        <a href="tel:+74822703124" class="phone-num">+7-4822-703-124<br></a>
                        <a href="https://yandex.ru/maps/14/tver/house/peterburgskoye_shosse_32k1/Z0wYfgFgSEwPQFtsfXR2cn1rZA==/?ll=35.860198%2C56.873180&z=17.62"
                           target="_blank">Тверь, Петербургское шоссе, д.32 корп. 1<br></a>

                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

</body>

</html>
